@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Light */

.bg-light-background-color {
  background-color: #f1daae;
}

.bg-light-primary-color {
  background-color: #49301e;
}

.light-text-color {
  color: #e7dfce;
}

.bg-light-secondary-color {
  background-color: #8b5e2e;
}

.bg-light-accent-color {
  background-color: #93a66e;
}

/* Light */

/* Dark */

.bg-dark-background-color {
  background-color: #111111;
}

.bg-dark-primary-color {
  background-color: #2f2a24;
}

.dark-text-color {
  color: #e7dfce;
}

.bg-dark-shadow-color {
  background-color: #e7dfce;
}

.bg-dark-secondary-color {
  background-color: #aec69f;
}

.bg-dark-accent-color {
  background-color: #e74c1d;
}

/* Dark */
